tigervnc/*.[ao]
tigervnc/*.mo
tigervnc/*.la
tigervnc/*.lo
tigervnc/.deps
tigervnc/.libs

tigervnc/CMakeFiles
tigervnc/CMakeCache.txt
tigervnc/*.cmake
tigervnc/Makefile
tigervnc/Makefile.in
tigervnc/config.h
tigervnc/cmake-build-debug/*
!tigervnc/cmake-build-debug/.gitkeep
tigervnc/cmake-build-release/*
!tigervnc/cmake-build-release/.gitkeep